@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

@font-face{
	font-family: "Standard Blackletter";
	font-weight: 700;
	src: url("../fonts/standard-blackletter.otf") format("opentype");
}

/* Blackletter text */
.blackletter{
	font-family: "Standard Blackletter", serif;
	font-variant: normal;
}
/* End Blackletter text */

/* Collections */
article,
section{
	break-after: page;
}
/* End collections */

/* Headers not in ToC */
header{
	font-variant: small-caps;
	margin: 1em;
	text-align: center;
}

article > div > header p{
	/* Simulate h3. */
	font-size: 1.17em;
	font-variant: small-caps;
	font-weight: bold;
}

article > div > div > header p{
	/* Simulate h4. */
	font-size: 1.08em;
	font-variant: small-caps;
	font-weight: bold;
}

[epub|type~="z3998:poem"] header p span{
	display: inline;
	padding: 0;
	text-indent: 0;
}
/* End headers not in ToC */

/* Poetry */
[epub|type~="z3998:verse"] p,
[epub|type~="z3998:poem"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:verse"] p > span,
[epub|type~="z3998:poem"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br,
[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}

p span.i3{
	padding-left: 4em;
	text-indent: -1em;
}

p span.i4{
	padding-left: 5em;
	text-indent: -1em;
}

p span.i5{
	padding-left: 6em;
	text-indent: -1em;
}

p span.i8{
	padding-left: 9em;
	text-indent: -1em;
}

p span.i12{
	padding-left: 13em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] div header p,
[epub|type~="z3998:poem"] header p,
[epub|type~="z3998:poem"] hgroup p{
	text-align: center;
}

[epub|type~="z3998:poem"] div header{
	font-variant: small-caps;
	margin-bottom: 1em;
	text-align: center;
}
/* End poetry */

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	font-variant: normal;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] i{
	font-style: normal;
}

[epub|type~="epigraph"] cite{
	font-style: normal;
	font-variant: small-caps;
	margin-top: 1em;
}

[epub|type~="epigraph"] cite i{
	font-style: italic;
}
/* End all epigraphs */

/* All footers */
footer{
	margin-top: 1em;
	text-align: right;
}
/* End all footers */
